[2013-05-16 01:32] mojavelinux opened #3 "Add attribute for forward slash"
The forward slash character can potentially end the Javadoc comment prematurely. Typically it is escaped using `{@literal /}`. However, since we've got attributes in AsciiDoc, this can be simplified to `{slash}`. Although AsciiDoc has built-in named replacements like backslash, it does not have slash.

The new attribute can be defined when calling the Asciidoctor render method:

[code]

An example

[2013-05-17 05:11] johncarl81 opened #5 "Range support"
Incorporating code blocks can be tricky as they quickly become out-of-sync with the live code.  This is mitigated by referencing real compiled code via the existing Asciidoctor range support

Example:

[code]

would results in teh following main javadoc:

[code]

Related to: https://github.com/asciidoctor/asciidoctor/issues/226

[2013-05-21 03:13] #5 closed, assigned to nobody

[2013-05-21 23:55] #3 closed, assigned to nobody

[2013-09-27 18:26] lordofthejars opened #15 "Is there a way to pass parameters to Asciidoclet?"
Hello I am wondering if there is a way to pass Asciidoctor parameters through Asciidoclet. I am asking because I would like to do something like:

[code]

so what I want to do is to pass the target directory location inside Asciidoclet processor and then be added as Asciidoctor attribute. I don't know if this is possible or not, but for what I have understand for code (sorry I have never develop a

[2014-01-17 13:14] AlexCzar opened #16 "Allow use of prettify for source highlight."
I use Asciidoctor to generate technical documentation and prefer all of it to be of the same style. My main documentation pages are rendered using `prettify` as source highligher, unfortunately though Asciidoclet does not provide this option.

[2014-02-23 07:32] jnorthr opened #17 "Latest 0.1.3 doclet testing"
have forked this doclet to https://github.com/jnorthr/asciidoclet and started to build a gradle wrapper around it. This is just so i can do some testing in isolation. If you care to try, you can clone my repo into some directory on your system, then CD into that directory and from a terminal command line do :

gradlew

that's all ya need as gradle carries it's own jars for self-execution as a 'wra

[2014-02-28 12:47] #17 closed, assigned to nobody

[2014-05-05 20:52] Vad1mo opened #18 "Java 8 and asciidoclet"
Hello,
Doclint in jdk 8 is very strict. Switching it of is also not a really good idea.

So the question is:
1. Is java 8 supported?
2. I have this entry in my javadoc. According to the asciidoctor docs I don't need to escape the special chracters but javadoc is complaining about the special characters. So who is right here?

[code]

[2014-05-16 17:45] #15 closed, assigned to nobody

[2014-07-02 00:59] johncarl81 opened #19 "Include default css"
As it stands, asciidoctor's rendered output relies on css for styling elements.  Including this in the generated asciidoclet source will bring the generated output closer to what is intended with Asciidoctor's output.

Should we also include the ability to add additional css?

[2014-07-10 15:05] benevans opened #21 "Javadoc's "first sentence" summaries are easily broken by Asciidoctor's default HTML output"
Noticed this while working on #20 (overview file support). Thought it was my fault at first, but it's a general problem between Asciidoctor's HTML output and javadoc's generation of package overview pages.

If your package (or overview) comment (in Asciidoc) starts with anything other than a level 0 heading, then javadoc gets confused when it tries to extract the first sentence, and ends up puttin

[2014-07-11 14:33] purplefox opened #22 "Still active?"
Hi guys,

I am very interested in using asciidoclet in our project (Vert.x), but I notice the latest release was 0.1.4 some 6 months ago.

Is it still in active development? If it's complete, any chance of a 1.0 release?

[2014-07-21 22:23] #22 closed, assigned to nobody

[2014-07-21 22:24] #16 closed, assigned to nobody

[2014-07-22 00:27] #21 closed, assigned to nobody

[2014-07-23 20:53] chrisvest opened #25 "includes of test-source files"
It looks like the `include::some-file.txt[]` macro only works for files that I make javadoc copy over into the `target/site/apidocs/` directory, which would be stuff in the `src/main/javadoc/resources/**/doc-files` directories. And then only if I explicitly enable this with by adding a `<docfilessubdirs>true</docfilessubdirs>` configuration to the `maven-javadoc-plugin` plugin in my `pom.xml` file

[2014-07-24 05:32] #25 closed, assigned to nobody

[2014-07-31 16:27] #18 closed, assigned to nobody

[2014-08-19 20:59] mojavelinux opened #27 "Publish to jcenter (bintary)"
Publish to jcenter on Bintray. The goal is to get all Asciidoctor artifacts into jcenter, which provides a nice dashboard and repository for binary artifacts.

See AsciidoctorJ and the Asciidoctor Gradle plugin for examples on how to setup. It's pretty straightforward. I recommend that we follow the same approach of publishing to bintray under your own username, then clicking "Link to jcenter" to

[2014-08-20 05:08] johncarl81 opened #29 "Asciidoctor extension support"
Asciidoctor supports extensions.  It would be fantastic to be able to leverage extensions in asciidoclet.

Concretely, I'm thinking about the https://github.com/asciidoctor/asciidoctor-diagram extension.  Supporting this extension would allow us to generate uml in javadoc code, like the following:

http://asciidoctor.org/news/2014/02/18/plain-text-diagrams-in-asciidoctor/

This would be yet anothe

[2014-08-20 05:09] #19 closed, assigned to nobody

[2014-08-20 06:59] mojavelinux opened #32 "Align option names and syntax with asciidoctor command"
I'd like to align the option names that go in `additionalparam` with the `asciidoctor` command.

I'm proposing the following changes.
1. Prefer double dash (`--`) instead of single dash (`-`) prefix for long option names
2. Use names from the asciidoctor command when there's a matching option
3. Use the same parsing logic for the attribute string (or allow attributes to be specified using multiple

[2014-08-22 04:39] #29 closed, assigned to nobody

[2014-08-23 23:08] #32 closed, assigned to nobody

[2014-08-26 16:51] #27 closed, assigned to nobody

[2014-09-25 15:15] gAmUssA opened #37 "Integration with Groovy source code"
Hello,

I have a question regarding integration of asciidoclet with `groovydoc`. Looks like `groovydoc` utility doesn't accept doclet class as a parameter.

Is it possible to do?

Thanks

[2014-11-22 21:22] jmbruel opened #38 "java.lang.NoClassDefFoundError when using command line"
I am trying to use asciidoclet in command line:

javadoc ... -doclet org.asciidoctor.Asciidoclet -docletpath doclet/asciidoclet-1.5.0.jar ...

And I get:
javadoc: error - In doclet class org.asciidoctor.Asciidoclet,  method optionLength has thrown an exception java.lang.reflect.InvocationTargetException
java.lang.NoClassDefFoundError: com/google/common/collect/ImmutableList

Any idea? Thanks in ad

[2015-03-16 17:04] gjoseph opened #40 "Any way for Asciidoclet to be lenient towards html ?"
I am on the verge of using Asciidoclet on a relatively large codebase, that has a lot of old-ish Javadoc written with html. I'd like to progressively enhance the docs, but I can't realistically go and convert all of the existing doc.
Is there any way to make Asciidoclet more lenient ? Perhaps something along the lines of "if there is html in the doc, let it be processed by the default doclet" ?

I

[2015-03-16 18:11] johncarl81 commented on #40
Is there a way to specify which files are processed with which doclet?  If so, then you could just specify the files that are processed with Asciidoclet as you convert them.

You could also escape all the files that you need to convert using the `++++` directive (http://asciidoctor.org/docs/user-manual/#built-in-blocks-summary).  An easy way to do this is to perform a global replace with something

[2015-03-17 10:42] gjoseph commented on #40
Thanks John, these are really good suggestions, both make a lot of sense and I'll probably end up using a combination of both !

[2015-03-17 10:42] #40 closed

[2015-03-17 14:09] johncarl81 commented on #40
Great @gjoseph!  I'd love to hear about your experience with Asciidoclet.  Email me directly or the Asciidoctor mailing list if you feel inclined.

[2015-03-18 18:03] gjoseph commented on #18
In one of our project, when using the default doclet, we get a bunch of doclint failures, mostly for stuff that's indeed erroneous. When using asciidoclet, we get warnings instead. We don't get the warnings for, say, erroneous html, but we do get them for erroneous @see tags, for example. Is there any way we could control this behavior, i.e have it fail instead of just warn ? Is Javadoc's doclint

[2015-04-01 12:31] JGrenier opened #41 "Can Asciidoclet works with accentuated caracters + asciidoc-diagram documentation"
hi,
Is there a way to have accentuated caracters rendered correctly ?

see this project sample i made to reproduce the problem.

é is rendered as Ã©

https://github.com/JGrenier/asciidoclet-sample.git

I succeeded in using asciidoctor diagram working in a pure java project but it requires some prerequisites to get it working.
May be these explainations should be added to the asciidoclet documentat

[2015-04-01 12:59] benevans commented on #41
You might need to add
[code]
to your javadoc options. By default Javadoc just uses the platform's default encoding.

[2015-04-01 13:49] JGrenier commented on #41
Many thanks for your answer.

I tried  options.addStringOption "encoding", "UTF-8" as suggested but it still doesn't work.

I already tried this before posting the issue

           options.addStringOption "-attribute", "data-uri," +
                            "encoding=UTF-8," + ...

But always the same result :(

[2015-04-02 14:14] benevans commented on #41
How about this:
[code]
I reproduced your problem by setting "charset" to "ISO-8859-1", which I assume is your system's default. Setting it to "UTF-8" makes the "&#233;" render correctly.

Javadoc puts this charset in the output HTML's META tag, so the browser renders the page using the specified charset. This is an option for javadoc's standard doclet, and you would need this with or without Ascii

[2015-04-02 14:29] benevans commented on #41
Actually now that I think about it, the problem might have been your browser's default charset. If you don't specify "charset" to javadoc then the meta tag is not inserted, and the browser's default charset will be used. But in any case setting "charset" to "UTF-8" should make the browser do the right thing.

[2015-04-02 14:57] JGrenier commented on #41
Hi,
It works :)

options.addStringOption "charset", "UTF-8" do the  job

Many thanks for your explanations.

[2015-04-02 15:05] JGrenier commented on #41
Just to complete
system --> Windows :(
IDE --> Eclipse which is cp1252 encoding by default but i configured  the workspace to UTF-8

If i open the files with notepad++ they are not UTF-8 but ANSI as UTF-8.
If I convert it to UTF-8 with notepad++, then the build fails ...

Now, with the charset option, no problem...

[2015-04-02 19:15] johncarl81 commented on #41
@benevans, should we add a default charset (UTF-8) if none is specified?

[2015-04-02 23:51] benevans commented on #41
Yeah I was wondering that too. I think it makes sense. We'd also want to set javadoc's `-docencoding` option too, that is the encoding that the generated HTML files will actually be written with. The `-charset` tells the browser what to expect, but isn't automatically the same as `-docencoding`, which seems crazy, it is just asking for errors like this one.

So I think a sensible thing to do is ha

[2015-04-19 17:41] msgilligan commented on #37
Any updates on using AsciiDoc with GroovyDoc?

[2015-04-20 00:31] msgilligan commented on #37
I created Groovy [JIRA Issue GROOVY-7395](https://issues.apache.org/jira/browse/GROOVY-7395) to request Doclet support in Groovydoc.

[2015-04-20 02:29] johncarl81 commented on #37
No updates currently that I know of.

@msgilligan thanks for creating an issue, let me know if we can be of service implementing this.

[2015-04-20 12:22] aalmiray commented on #37
Support for Asciidoclet (as a matter of fact any standard doclet) is a huge task given that groovydoc is not javadoc compatible API wise. We must revise groovydoc and create a new API. The groovy dev team is aware of this fact.

[2015-04-23 21:47] mojavelinux commented on #37
I think @johncarl81 will agree that we're perfectly willing to adapt to whatever API groovydoc provides. This may even be a good opportunity to set forth some requirements for such an API / parser given the limitations we've encountered in Javadoc.

[2015-04-23 22:00] mojavelinux opened #42 "Option to export AsciiDoc doc strings"
One of the attendees at Devoxx France proposed the idea of having an option in Asciidoclet to export all AsciiDoc doc strings to disk (i.e., `export-docstrings`). Exporting the strings would allow the content to be reused in other context or by other tools.

I really like this idea as a way to keep content DRY, especially if Javadoc is being treated as the canonical source of information for a por

[2015-04-23 22:16] johncarl81 commented on #37
Yes, completely agree.  In fact, why adapt Groovy's groovydoc-doclet to javadoc-doclets?  That seems like a large amount of work considering the crufty javadoclet api.  Why don't we just write an Asciidoc specific Grovydoc-doclet?  Asciidoclet was extremely easy to get off the ground and I'd hope that a port of it to groovydoc would be equally as easy, if not easier knowing Groovy. :smile:

A quic

[2015-04-23 22:20] johncarl81 commented on #42
I think this would be easy to accomplish, but I'll need to investigate a bit.  Great suggestion.  I'll take a look soon.  Thanks!

[2015-06-09 16:59] johncarl81 commented on #41
Looking at this issue a bit, it seems we don't have control over Javadoc's charset from the Doclet.  It seems that the charset needs to be set manually as described above.

[2015-06-09 16:59] #41 closed

[2015-06-14 15:15] johncarl81 commented on #42
This gets a little harry in the javadoc details.  For example, we append javadoc comments and the tags within the comments.  There are a number of routes we could go...

First, we could write a whole new doclet that just strips out the javadoc comments to a file.  This would keep the scope of Asciidoclet small and allow for other source formats to be handled.  The drawback of this would be javadoc

[2015-06-15 05:43] mojavelinux commented on #42
I think that's totally acceptable. So long as there is some way to invoke the command, I don't think the user is too worried about how it is done. Users may even want to do this in a separate step.

I think that's acceptable to start. After all, it is an export, so likely it will be used at the front of another pipeline which could deal with this cleanup.

I think just exporting the class, interfa

[2015-08-07 22:12] Dridi commented on #42
I'm just starting playing with Asciidoctor, but I'm already finding it many incentives. One thing that bothers me though, is the javadoc integration. It's the same with Maven sites, javadoc(1) does its own thing and it doesn't integrate with the rest of the documentation. So of course only in an ideal world could I get my whole javadoc generated and well integrated into my overall documentation.

[2015-09-07 21:11] msgilligan opened #44 "Official asciidoclet Gradle sample"
It would be nice if there were a more-or-less official sample demonstrating use of asciidoclet in a Gradle project.

I did find this one: https://github.com/JGrenier/asciidoclet-sample

(One of the reasons I ask for this is that it's very useful for comparison purposes when you think you've found an issue.)

[2015-09-07 21:25] msgilligan opened #45 "Warning about loading tilt/haml in a non thread-safe way"
I'm seeing this warning in my Gradle-based project:

[code]

The same warning also shows up in this sample project: https://github.com/JGrenier/asciidoclet-sample

I'm using Gradle 2.6.

[2015-09-08 15:23] johncarl81 commented on #44
We do have a pretty detailed example in the README, was that insufficient?

[2015-09-08 15:32] msgilligan commented on #44
The README is good, but I want something that I can `git clone` and run.  (And compare to my build, update to newer versions of Gradle, Asciidoctor, etc. -- and even send pull requests.)

[2015-09-08 15:37] johncarl81 commented on #44
Understandable, and I've heard some grumblings about the README being too sparse.  What do you think about a few example projects, maybe one for each type of common build: Maven, Gradle, Ant?

[2015-09-08 15:43] msgilligan commented on #44
I use Gradle for almost all my projects, so that is the only one I'm personally interested in. I'm sure a Maven sample would be popular, too. I'm an old Ant-jockey but I almost never see projects built with Ant anymore.

Sample projects are only useful if they're kept up-to-date with the latest versions of the build tools and dependencies. If enough people are using the samples, you're likely to g

[2015-09-12 03:18] msgilligan commented on #44
It would also be nice to provide a list of real, external projects that are using AsciiDoclet. I'm experimenting with it to document a Bitcoin JSON-RPC client, but would love to see some great examples of other projects that have used it to document (large) APIs.

[2015-09-12 15:27] msgilligan opened #46 "Publish JavaDoc for AsciiDoclet"
It would be nice to see the JavaDoc for this project published. As I mentioned in a comment on another issue, I'm looking for examples of Asciidoclet being used in real-world projects. I decided to see if there was any dog-food eating going on -- and there was! -- but it would be nice to see the rendered HTML published somewhere.

[2015-09-12 17:08] msgilligan opened #47 "Make documentation easier to find and better-structured."
I've used AsciiDoctor for a while, but am currently using Asciidoclet for the first time. It hasn't been clear where the best place to go for information is.

Currently, it seems the (two?) major sources of "user guide" or "getting started" information are:

* [Github project README](https://github.com/asciidoctor/asciidoclet/blob/master/README.adoc)
* [Asciidoclet 1.5.0 release blog entry](http:/

[2015-09-12 17:09] msgilligan opened #48 "List of AsciiDoclet-powered projects"
It would be great to have a curated list of Asciidoclet-powered projects somewhere. We can use this issue to collect a list and I'll put together a pull request to put them somewhere.

I did find [this Google+ post](https://plus.google.com/114112334290393746697/posts/NHPfhyNXnM1) by @mojavelinux

[2015-09-12 17:14] msgilligan commented on #48
This comment will contain the working list. Feel free to edit it.

* [asciidoctor/asciidoclet](https://github.com/asciidoctor/asciidoclet) - Dog food is yummy!
* [Java EE samples](http://javaee.support): [source example](https://github.com/javaee-samples/javaee7-samples/blob/master/jaxrs/async-client/src/test/java/org/javaee7/jaxrs/asyncclient/MyResourceTest.java) [rendered example](http://javaee.

[2015-09-13 04:02] johncarl81 commented on #48
I use it on my projects:
[Transfuse](androidtransfuse.org) - [docs](https://oss.sonatype.org/service/local/repositories/releases/archive/org/androidtransfuse/transfuse-api/0.3.0-beta-7/transfuse-api-0.3.0-beta-7-javadoc.jar/!/index.html)
[Parceler](paceler.org) - [docs](https://oss.sonatype.org/service/local/repositories/releases/archive/org/parceler/parceler-api/1.0.3/parceler-api-1.0.3-javadoc.j

[2015-09-13 04:04] johncarl81 commented on #46
It's published on maven: https://oss.sonatype.org/service/local/repositories/releases/archive/org/asciidoctor/asciidoclet/1.5.2/asciidoclet-1.5.2-javadoc.jar/!/index.html

[2015-09-13 04:07] johncarl81 commented on #48
I use it on my projects:
[Transfuse](https://oss.sonatype.org/service/local/repositories/releases/archive/org/androidtransfuse/transfuse-api/0.3.0-beta-7/transfuse-api-0.3.0-beta-7-javadoc.jar/!/index.html)
[Parceler]()

[2015-09-13 04:10] johncarl81 commented on #45
Can you setup your project to use an embedded `./gradlew` script?

[2015-09-13 04:46] mojavelinux commented on #45
This is a meaningless message that tilt issues but unfortunately won't remove. You can get around it by adding tilt to the list of requires (wherever the configuration allows requiring libraries).

[2015-09-13 04:47] mojavelinux commented on #48
It's probably best if we add an Asciidoclet section to the following planned page.

https://github.com/asciidoctor/asciidoctor.org/issues/270

[2015-09-13 04:47] msgilligan commented on #46
Cool! Should I add a link to the README and send a PR?

[2015-09-13 04:50] msgilligan commented on #48
Well, I'd like to create something just for AsciiDoclet -- perhaps as simple as a `powered-by.adoc` file in this repository. We can always merge into the "planned" page when that page is ready.

[2015-09-13 05:04] msgilligan commented on #45
Do any of you have an example Gradle configuration for AsciiDoclet that does this?

[2015-09-13 05:15] mojavelinux commented on #45
I think it's just something like:

[code]

or

[code]

I'd like to see this example in the README as it can be useful for using other libraries as well.

[2015-09-13 05:15] mojavelinux commented on #48
Of course, that's perfectly fine too. It will just be nice to see it highlighted on the main "who's using" page as well.

[2015-09-13 14:49] msgilligan commented on #46
I just noticed that the published link you provided was to a JAR file. I was also surprised to learn that Safari and Chrome will open and display it. Firefox doesn't, though. I don't know about IE.

I'll add the link to the README anyway, and maybe we can find a place to publish it as HTML.

[2015-09-13 14:55] msgilligan commented on #45
Neither of those is working for me -- the Gradle script wouldn't even compile. The following compiles:

    options.addStringOption '-requires', 'tilt'

...but results in `javadoc: error - invalid flag: --requires` and a usage message.

[2015-09-13 15:57] msgilligan commented on #48
PR #49 puts all the projects listed above in `doc/asciidoclet-powered.adoc`. Once merged, this issue can be closed. https://github.com/asciidoctor/asciidoctor.org/issues/270 can include this list and, once completed, we can remove this list from this site and link to the section in the project-wide list.

[2015-09-13 16:01] msgilligan commented on #46
PR #49 Adds a link to the published Maven JavaDoc JAR.

We could close this issue or leave it open to remind us to publish the JavaDoc somewhere as exploded HTML.

[2015-09-13 16:04] msgilligan commented on #47
PR #49 provides links to JavaDoc and to the Release 1.5.0 announcement/notes which partially addresses this issue.

The next step, I think, would be to create a *User's Guide* in `/doc`, moving some content out of the README and combining it with content from the Release 1.5.0 announcement/notes.

[2015-09-14 22:21] mojavelinux commented on #45
This is just a matter of trial and error until we figure out the magic combination of characters necessary to trigger this Doclet option: https://github.com/asciidoctor/asciidoclet/blob/master/src/main/java/org/asciidoctor/asciidoclet/DocletOptions.java#L100-L102

If you can find examples of other parameters / doclets that parallel this...that's probably how I'd start debugging.

[2015-09-23 22:45] msgilligan commented on #48
Implemented by PR #49.

[2015-09-23 22:45] #48 closed

[2015-10-01 00:20] msgilligan opened #50 "Handle type parameters (pointy brackets) correctly."
JavaDoc can be written for type parameters such as `<R>` in the following example:

    /**
     * JSON-RPC remote method call that returns 'response.result`
     *
     * @param method JSON RPC method call to send
     * @param params JSON RPC params
     * @param <R> Type of result object
     * @return the 'response.result' field of the JSON RPC response converted to type R
     */
    protecte

[2015-10-01 00:28] msgilligan commented on #50
Workaround:

    * @param pass:[<R>] Type of result object

Seems to work for me.

[2015-10-01 00:29] johncarl81 commented on #50
Hmm, how does the result look?  I've used pointy brackets with success:

https://oss.sonatype.org/service/local/repositories/releases/archive/org/parceler/parceler-api/1.0.3/parceler-api-1.0.3-javadoc.jar/!/org/parceler/Parcels.html#unwrap-android.os.Parcelable-

Source:

https://github.com/johncarl81/parceler/blob/master/parceler-api/src/main/java/org/parceler/Parcels.java#L95

[2015-10-01 00:31] johncarl81 commented on #50
Ah, and I bet Asciidoctor is trying to find callouts for these items http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#source-code

[2015-10-01 01:54] msgilligan commented on #50
With the passthrough workaround (above) the type parameter `R` is listed in a separate section labeled **Type parameters:** as `R` (pointy-brackets removed.)

Without the workaround the `not a parameter name` warning is output, the processor can't tell `R` is a type parameter, so it is listed in the regular **Parameters:** section as `<R>`.

Not a huge problem, but hopefully one that can be fixed.

[2015-11-11 22:25] johncarl81 commented on #38
This should be available in the upcoming 1.5.3 release.

[2015-11-11 22:25] #38 closed

[2015-11-11 22:28] johncarl81 commented on #46
Im comfortable closing this.  I like the idea of publishing to a non-maven-central location, but I think it does the job.

[2015-11-11 22:28] #46 closed

[2015-11-16 17:37] johncarl81 commented on #50
I see the options being the following:  Either we escape the javadoc to accomodate Asciidoctor (The `[<R>]` escaping) or escape or disallow Asciidoctor callouts to avoid the conflict with `<R>`.

I'm prone to leave it as it is.

@mojavelinux, care to weigh in on this one?

[2015-11-21 02:00] mojavelinux commented on #50
What would make the most sense is to have an inline macro for this:

[code]

Another option is to disable special character subs for content in `@param`. Ultimately, you need to do what feels right for the Javadoc author (and we'll make Asciidoclet / Asciidoctor do what it has to do to make that a good experience).

[2015-11-21 02:44] msgilligan commented on #50
That sounds like the nicest option, I think.

[2015-11-22 18:13] johncarl81 commented on #50
Playing around with this a bit I am unable to get these warnings, even with your direct example @msgilligan... could you share a buildable code example, perhaps a fork of Asciidoclet, that triggers this?

[2015-11-22 19:39] msgilligan commented on #50
Weird. I just removed the `pass:[<R>]` workaround from my code and am not seeing the warning message anymore, either. Looking through my Git history since Sept 30th and don't see anything obvious that I changed. Maybe it is because I upgraded to Java `1.8.0_60` since then?

However the output is still incorrect without the workaround.

The project is on Github, it's [msgilligan/bitcoinj-addons](ht

[2015-11-22 19:43] msgilligan commented on #50
Here are screenshots of the output.

with  workaround:
![asciidoclet_issue50_workaround](https://cloud.githubusercontent.com/assets/61612/11325859/1c0804ba-910e-11e5-9be3-ab4ad2012cf5.png)

Without:
![asciidoclet_issue50_error](https://cloud.githubusercontent.com/assets/61612/11325860/1c2abf5a-910e-11e5-8cd8-a7da3b309252.png)

[2015-11-22 22:26] mojavelinux commented on #50
My understanding is that the primary problem is that the type parameters don't get extracted by default. A warning may or may not be issued depending on the JVM version.

[2015-12-20 09:55] AlexanderZobkov commented on #42
Ideally it would be great to implement a doclet that allows to generate javadoc in asciidoc format so that it can be integrated into this or that document prepared with using asciidoc and later converted to PDF.

[2016-01-02 21:08] johncarl81 commented on #37
Im closing this due to inactivity.  Creating a Groovydoc is a great idea and I encourage someone to take on the challenge (if I don't get to it first).

[2016-01-02 21:08] #37 closed

[2016-01-02 21:10] johncarl81 commented on #47
Honestly I like having the README be the user's guide.  I've found that most people use the github project page as a quick-start and reference.  I think that burying the user's guide into a folder may hurt adoption in that regard.

That being said, if you feel that we need a more expansive user's guide, feel free to open a PR.

[2016-01-02 21:10] #47 closed

[2016-01-02 21:11] johncarl81 commented on #44
I believe we're accomplished this.

[2016-01-02 21:11] #44 closed

[2016-01-02 21:22] johncarl81 commented on #42
I've started a new project to output the raw contents of Javadocs to files.  This can be used as part of the toolchain to incorporate the javadocs from a project into the final documentation.

You can find this project here:  https://github.com/johncarl81/outputdoclet
I figure we should continue this discussion about requirements and capabilities there.

[2016-01-02 21:22] #42 closed

[2016-01-02 21:39] johncarl81 commented on #45
Just to confirm @mojavelinux as I cant seem to find a way around this warning... we should be requiring tilt via:
[code]

[2016-01-02 21:44] johncarl81 opened #52 "Building with asciidoctorj 1.5.3 results in "Ignoring..." messages"
When building with an upgraded version of asciidoctorj, log messages are issued noting that it is ignoring a given library and to try to run a gem command:
[code]

@mojavelinux  or @robertpanzer any thoughts on this one?

[2016-01-02 21:52] johncarl81 commented on #45
BTW @msgilligan, if you want to require multiple libraires, you need to separate them with a comma:

[code]

`-require` also works here:
[code]

[2016-01-02 22:58] mojavelinux commented on #42
Very cool! You might want to announce this one on the list too.

[2016-01-02 23:04] mojavelinux commented on #52
Which version of AsciidoctorJ and JRuby?

Very likely this is a change in JRuby and the warning is harmless (though annoying). JRuby doesn't build extensions, hence why it claims they aren't built.

The other possibility is that the extensions are marked as built (in some way) with one version of JRuby and running under a different version.

@pepijnve may have some ideas as well.

[2016-01-02 23:05] johncarl81 commented on #52
asciidoctorj: 1.5.3.2
jruby: 1.7.21

[2016-01-02 23:07] mojavelinux commented on #45
I really, really wish Tilt would remove this warning because it is just plain wrong. Autoloading a library is a thread safe operation, so Tilt should not be issuing this warning.

Having said that, I ran across the same problem. Explicitly loading tilt/haml with AsciidoctorJ doesn't make the warning go away...and I'm not sure why that is.

[2016-01-02 23:18] mojavelinux commented on #52
Wait, I remember what this is. When you get that message, it means that there are locally installed gems visible to the JRuby runtime, likely installed using MRI (CRuby). Whenever you use AsciidoctorJ, it's a good idea to make sure you don't have RVM active, or other gems installed.

    $ rvm use system

While we do isolate from loading these gems, it appears that JRuby is still analyzing them (a

[2016-01-02 23:19] johncarl81 commented on #45
Are the tilt guys aware of this?  Does this https://github.com/rtomayko/tilt/issues/95 reference the same underlying issue?

[2016-01-02 23:22] johncarl81 commented on #52
Ah, that did the trick.  Thanks Dan!

[2016-01-02 23:23] mojavelinux commented on #52
What this tells me is that when you invoke AsciidoctorJ, you aren't isolating from the system gems. I don't get this warning when using the main Gradle plugin. Stay tuned for details.

[2016-01-02 23:24] johncarl81 commented on #52
Ah, I'll reopen then.

[2016-01-02 23:28] johncarl81 commented on #52
FYI, I do have the gem-path set.

I also spoke too soon, it seems the build now fails on asciidoctor-diagram not being available:
[code]

[2016-01-02 23:32] mojavelinux commented on #52
Where is this sample project?

[2016-01-02 23:35] mojavelinux commented on #45
Here's the proposed solution. https://github.com/rtomayko/tilt/pull/253 But in general, they seem unwilling to fix it and I've personally moved on from trying to fight for it.

[2016-01-02 23:40] johncarl81 commented on #52
Here: https://github.com/johncarl81/asciidoclet-sample

build with `./gradlew clean build javadoc`

[2016-01-02 23:50] mojavelinux commented on #52
So here's your problem regarding the warnings:

[code]

You should never be setting the gem path to the system (unless you really intend to do that, so we leave it as an option). It makes the build system dependent.

To use the gem that jrubyPrepareGems installs, you should use a build-local path:

[code]

So, in total, those two options are:

[code]

Btw, you don't have to install the asciidoctor

[2016-01-02 23:52] mojavelinux commented on #52
Btw, it might be good to add this sample project to the https://github.com/asciidoctor/asciidoctor-gradle-examples for exposure (even though technically it is not the Asciidoctor Gradle plugin, it still fits in the ecosystem there).

[2016-01-02 23:54] mojavelinux commented on #45
The ironic thing about this warning is that it has nothing to do with whether you explicitly require a library or not. The warning always shows if the Ruby runtime has more than one thread (which is always true for JRuby). The warning is just plain naive.

[2016-01-02 23:55] mojavelinux commented on #45
We should document in the Gradle plugin and Asciidoclet README that this warning can be ignored.

[2016-01-03 00:21] johncarl81 commented on #45
Yes, agreed.
On Jan 2, 2016 4:55 PM, "Dan Allen" <notifications@github.com> wrote:

[2016-01-03 00:21] mojavelinux commented on #45
Here's why this is a bug in Tilt.

If I use:

[code]

...I get the warning.

If I use:

[code]

...I get the warning.

If I use:

[code]

...I don't get the warning.

I can't make sense of what is going on, but clearly Tilt is confusing itself.

I'm open to changing Asciidoctor to use the last method since that's what gets called under the covers anyway.

[2016-01-03 00:23] mojavelinux commented on #45
Actually, in the end, this looks like a race condition, because it seems to happen sometimes and not others in all three cases.

[2016-01-03 00:27] mojavelinux commented on #45
What's more is that this is a truly naive bug that Tilt is introducing. They are auto-loading a placeholder class, but unregistering it. So when the autoload mechanism kicks off in Ruby, it sometimes hits the real class and sometimes hits the proxy class. When it hits the proxy, and the Ruby runtime has more than one thread, you see the warning. In the end, though, all roads lead back to the real

[2016-01-03 00:31] mojavelinux commented on #45
Ironically, both the warning and the content of the warning message are incorrect.

[2016-01-03 00:37] johncarl81 commented on #45
Sounds like the real fix is a PR to tilt... If they are open to it.
On Jan 2, 2016 5:31 PM, "Dan Allen" <notifications@github.com> wrote:

[2016-01-03 00:38] johncarl81 commented on #52
Ah, good idea, I'll make a PR with the updated project soon.
On Jan 2, 2016 4:52 PM, "Dan Allen" <notifications@github.com> wrote:

[2016-01-03 00:39] mojavelinux commented on #45
Exactly. This really should be solved there because it has to be affecting all JRuby users, especially since the message is happening intermittently.

But now at least we understand what is going on. That's half the battle.

[2016-01-03 00:40] mojavelinux commented on #52
:+1:

[2016-01-03 06:30] johncarl81 commented on #52
What do you think about the gradle file now, did I capture everything you mentioned: https://github.com/johncarl81/asciidoclet-sample/blob/master/build.gradle

It's a little strange to register the asciidoctor-diagram plugin twice... is there any way to automatically register it with Asciidoctorj so to avoid the `-r asciidoctor-diagram` redundancy?

[2016-01-03 06:52] johncarl81 commented on #52
WDYT @mojavelinux: https://github.com/asciidoctor/asciidoclet/pull/53

[2016-01-03 07:05] mojavelinux commented on #52
The `options.addStringOption "r", "asciidoctor-diagram"` is redundant if you use AsciidoctorJ Diagram. It automatically loads the asciidoctor-diagram gem. Otherwise, looks good!

[2016-01-03 07:18] johncarl81 commented on #52
Hmm, removing the ptions.addStringOption "r", "asciidoctor-diagram" gives the following warnings then (and doesn't render the diagrams):
[code]

[2016-01-03 09:26] robertpanzer commented on #52
Hi,

-r asciidoctor-diagram is still required.
Only in case of using other backends via -b pdf or some other attributes a gem is auto-required:
https://github.com/asciidoctor/asciidoctorj/blob/master/asciidoctorj-core/src/main/java/org/asciidoctor/internal/RubyGemsPreloader.java#L19-L25

Cheers
Robert

[2016-01-03 10:36] mojavelinux commented on #52
Ah, my mistake.

[2016-01-03 16:43] #52 closed

[2016-01-03 19:50] johncarl81 commented on #50
Finally looking at this problem more in depth...  I'm able to reproduce this easily.

It seems if we perform the following replacements after asciidoctor renders the text then Javadoc recognizes the type parameters properly:

[code]

I'm a little concerned that this has other side effects though... @mojavelinux, is there a better way to perform this replacement within Asciidoctor and are you aware

[2016-01-03 19:58] johncarl81 commented on #50
Ah, and as soon as I think about the drawbacks, this affects how xml is rendered within code blocks.

To avoid this, we can just perform this replacement during tag blocks, which we're already treating specially (inline).

[2016-01-03 20:25] johncarl81 commented on #50
Even better, we can use the `pass:[<R>]` technique mentioned above:
[code]

[2016-01-03 22:13] johncarl81 commented on #50
One issue that this has is xml code blocks within tags are completely removed... should we check for the various blocks or just accept this as a drawback?

[2016-01-03 22:54] johncarl81 commented on #50
Ugh, which has its own difficulties... like [summoning Cthulhu](http://stackoverflow.com/a/1732454/654187)

There must be a better way... like directing asciidoctor to no escape < and > in certain cases.

[2016-01-03 22:57] mojavelinux commented on #50
First of all, we can assume that a `@param` has an optional leading type, so we could look for an escape that specifically as a special case. Then, we don't need to do a global search and replace since we are merely detecting an escaping a known structure.

The other option, as I mentioned in an earlier comment, is to disable the specialcharacters substitution when invoking Asciidoctor on the `@pa

[2016-01-03 23:04] johncarl81 commented on #50
I was goign to try that next... how do you disable special character substitution with asciidoctorj?

[2016-01-03 23:09] mojavelinux commented on #50
The question, of course, is what is the pattern for a type parameter? From the documentation for the `@param` tag (http://docs.oracle.com/javase/1.5.0/docs/tooldocs/windows/javadoc.html#@param):

[2016-01-03 23:10] mojavelinux commented on #50
So the pattern is something like:

[code]

(That limits the name to a single upper case letter, which I think is reasonable for now).

[2016-01-03 23:10] mojavelinux commented on #50
I think this is the most viable approach.

[2016-01-03 23:11] mojavelinux commented on #50
You could trim it, convert the remainder, then prepend it to the result to avoid having to use a passthrough.

[2016-01-03 23:13] mojavelinux commented on #50
You'd obviously put in a special condition in renderTag to handle the "param" tag name.

[2016-01-03 23:13] johncarl81 commented on #50
right, ok, that does narrow down this special case significantly... ill put that in place.

[2016-01-03 23:13] mojavelinux commented on #50
Btw, that documentation I linked to turns out to be pretty useful :)

[2016-01-03 23:14] mojavelinux commented on #50
That's the only mention of angle brackets outside of a code or literal block, so I think this covers the scenario sufficiently.

[2016-01-03 23:14] johncarl81 commented on #50
Yup, I was just checking for that too. :+1:

[2016-01-04 21:57] johncarl81 commented on #50
Implemented on #54.  Asciidoclet will now pass-through the bracketed parameter name during processing.  Thanks @msgilligan for the keen eye for details.

[2016-01-04 21:57] #50 closed

[2016-01-04 22:01] msgilligan commented on #50
Thanks for fixing this! I'd love to see asciidoclet become more widely adopted or even become *the* standard. :)

[2016-01-07 23:49] judofyr commented on #45
Hm? What do you mean by this? What is "a placeholder class"? What's the "proxy" object you're talking about later?

[2016-01-07 23:55] judofyr commented on #45
Ehm, it is. If you `require "tilt/haml"` first, you won't see the message.

But it should be noted that the warning was added years ago and I don't know the thread-safety of `require` in the latest Ruby variants. I know for sure it was a problem in the 1.8.7-days.

Considering that no-one actually follows the message in the warning (no-one in this issue mentioned that you should require `tilt/haml

[2016-01-07 23:58] mojavelinux commented on #45
Hey @judofyr!

Nope. We've been able to demonstrate that the message happens intermittently even if tilt/haml is loaded first. (more details on what I mean by the proxy class in a follow-up).

Charles Nutter and Brian Shirai both assured me that require is a thread-safe operation.

I can attest to the fact that we get numerous support issues about this which ends up burning a lot of support costs.

[2016-01-08 00:08] mojavelinux commented on #45
The proxy I'm referring to (really a load proxy, not a proxy class) is the Mapping#template_map. This should be a concurrent map, not a normal Hash (using the thread-safe gem, if available).

Since it is not a concurrent map, Ruby implementations that have multiple threads might pass through here at different times (race condition) and therefore trigger the lazy_load method, which may do a redunda

[2016-01-08 00:09] mojavelinux commented on #45
We could always ask Charles, Tom or Brian for a review.

[2016-01-08 00:09] mojavelinux commented on #45
...which is pretty important given that Tilt is one of the top ten gems in the ecosystem.

[2016-01-08 00:17] mojavelinux commented on #45
Here's the test case to demonstrate that it makes no difference if you require 'tilt/haml' first.

test.rb
[code]

test.html.haml
[code]

[code]

[2016-01-08 00:22] mojavelinux commented on #45
You'll see that on certain runs, the Thread.list.size is > 1, but at the same time the return value of require is false. What this shows is that library is loaded, but Tilt doesn't have it mapped. So the problem is really a Tilt error, not a user error.

[2016-01-08 09:42] judofyr commented on #45
This seems to be caused by a bug in JRuby:

[code]

JRuby incorrectly doesn't detect that the constant is no longer autoloaded:

[code]

[2016-01-08 10:02] judofyr commented on #45
Added a test case to Tilt for this: https://travis-ci.org/rtomayko/tilt/builds/101022917

Open issue in JRuby: jruby/jruby#3585

[2016-01-08 19:43] mojavelinux commented on #45
I think I know understand the problem better.

The fact is, requiring 'tilt/haml' doesn't actually change anything in Tilt. All it does is load the class. To restate, when you `require 'tilt/haml'`, it doesn't register anything with the `@template_map` in `Tilt.default_mapping`. So it's still going to hit the `lazy_load` as soon as you try to access it via `Tilt['haml']` (or equivalent).

All the

[2016-01-08 19:44] mojavelinux commented on #45
That whole script is now:

[code]

[2016-01-08 23:05] judofyr commented on #45
Yes, it will still hit lazy_load, but there's a part of lazy load that will
first try to see if the constant already exists (without requiring
anything). On JRuby this fails because it's saying that a constant is
autoloadable, even though it's actually been loaded. I'm not quite sure
what the workaround will be.

That said, I have considered also adding a mutex around the lazy loader and
remove th

[2016-01-08 23:09] mojavelinux commented on #45
Oops, I missed that. Now I see what you're getting at. :+1:

[2016-01-08 23:55] mojavelinux commented on #45
Thanks for your patience in working through this @judofyr!

[2016-01-09 00:51] judofyr commented on #45
Thanks. Progress on Tilt is a bit slow, but I do like to see it survive and
not rotten too much. Every now and then I try to get some proper work done
on it :)
On lør. 9. jan. 2016 at 00.55, Dan Allen <notifications@github.com> wrote:

[2016-01-10 15:43] johncarl81 commented on #46
FYI: #55

[2016-01-10 16:55] judofyr commented on #45
Pushed out a workaround in Tilt for now: https://travis-ci.org/rtomayko/tilt/builds/101427393. Should be in the next patch version.

Going to add the mutex/monitor around the lazy loader (and remove the warning) in the next minor version.

[2016-01-10 23:50] mojavelinux commented on #45
Fantastic news. Thanks @judofyr!

[2016-01-21 16:30] lgazo opened #56 "output comments to separate files"
Greetings,

would it be possible to create separate files for each comment in order to link it to another Asciidoc-based documentation?

Example use-case:
- I write description of a class, its fields and methods with asciidoc
- Next to it I write general documentation of how to use it
- I want to keep documentation on one place and therefore I want to relate from "general documentation" to class d

[2016-01-21 17:28] johncarl81 commented on #56
Something like this:?
http://discuss.asciidoctor.org/Export-Javadoc-strings-td4172.html
https://github.com/johncarl81/exportdoclet

I'd really like to hear your experience with this doclet as it's brand new.

[2016-01-21 17:31] johncarl81 commented on #56
Related: https://github.com/asciidoctor/asciidoclet/issues/42

[2016-01-25 08:52] lgazo commented on #56
yes, that looks exactly as what I am looking for :)

[2016-01-25 08:52] #56 closed

[2016-02-13 20:20] jmuheim commented on #45
I'm getting a similar warning:

    WARN: tilt autoloading 'tilt/pandoc' in a non thread-safe way; explicit require 'tilt/pandoc' suggested.

While `tilt/pandoc' isn't an official template yet, here's the PR:
https://github.com/rtomayko/tilt/pull/276

Will this problem go away with a further release of tilt? Or do I have to do something? I already tried adding `require 'tilt/pandoc'` in `applicati

[2016-02-14 00:14] mojavelinux commented on #45
Yes, a future version of Tilt will have a fix for this issue. Until then, you can safely ignore the message since it is actually isn't a warning at all.

[2016-02-14 08:05] jmuheim commented on #45
Thanks.

[2016-06-02 08:33] lefou opened #57 "Set attribute `env-asciidoclet` by default"
This would ease custom processing for Javadoc, e.g. with `ifdef::`.

[2016-06-02 15:09] johncarl81 commented on #57
Do other libraries in the asciidoctor ecosystem set a similar attribute?

[2016-06-02 16:21] lefou commented on #57
Yes. E.g. on GitHub, there is `env-github`. The [asciidoctor plugin for gitbucket](https://github.com/asciidoctor/gitbucket-asciidoctor-plugin) sets `env-gitbucket`.

See also http://asciidoctor.org/news/2014/02/04/github-asciidoctor-0.1.4-upgrade-5-things-to-know/#long-live-asciidoc-on-github

[2016-06-02 16:23] lefou commented on #57
Additionally, `env=asciidoclet` would be a good idea too.

[2016-06-02 17:34] johncarl81 commented on #57
WDYT?: #58

[2016-06-02 17:37] johncarl81 commented on #57
setting `env` has the possibility to collide between libraries btw.  Asciidoclet uses Asciidoctorj, which I imagine could set a similar `env=asciidoctorj`.

[2016-06-02 20:41] johncarl81 commented on #57
@lefou, Im curious, what is your use-case for this?

[2016-06-02 20:48] lefou commented on #57
asciidoctorj does not set `env` attribute, and current usage of the `env` attribute in other places (and my conversations with @mojavelinux ) suggest it is meant the way we want it to use it here. Also gitbucket-asciidoctor-plugin is also based on asciidoctorj.

My current use case was reusing the project `README.adoc`, which is the entry point documentation on GitHub, also as the overview page in

[2016-06-03 15:32] johncarl81 commented on #57
Makes sense.

[2016-06-07 15:22] #57 closed

[2016-06-08 02:31] mojavelinux commented on #57
:+1:

[2016-06-08 02:32] mojavelinux commented on #57
Correct. `env` is the execution environment, not which implementation of the processor is being used. In other words, it describes where the document is being converted. We set this in plugins such as a static site generator, so it makes a lot of sense to set it here too.

[2016-09-18 06:49] msgilligan opened #62 "Gradle 3.0 support"
I'm trying to upgrade my [bitcoinj-addons](https://github.com/msgilligan/bitcoinj-addons) repository to Gradle 3.1-rc-1 and when I try to run Gradle (even a `gradle clean`) I get the following error message:

[code]

This is true as of https://github.com/msgilligan/bitcoinj-addons/commit/e22470eb3b56c92dd7ff488f6a7ff91ea313bc14

Am I doing something wrong? Has anyone used _asciidoclet_ with Gradle

[2016-09-18 23:15] johncarl81 commented on #62
@msgilligan, I'm not seeing this error message when I build from master.  Is it happening on another branch perhaps?

[2016-09-18 23:44] msgilligan commented on #62
You're building from master with `./gradlew` or with a locally installed Gradle 3.0 and `gradle`?

[2016-09-18 23:59] msgilligan commented on #62
And I should also mention that I get deprecation warnings under 2.14.1 indicating that the build will break under 3.0...

[2016-10-16 20:47] johncarl81 commented on #62
Looks like I missed these updates.. im building using `./gradlew clean build`, which uses version 2.14.1.  Using the non-wrapper gradle from a manual install (https://gradle.org/gradle-download/) I get the following:
[code]

.. Digging into it further.

[2016-10-16 20:57] johncarl81 commented on #62
@benevans, would you mind taking a look at this?  I may be out of my depth with Gradle.

[2016-12-05 07:31] MehrCurry opened #63 "Q: How to configure asciidoclet to use asciidoctorj and asciidoctorj-diagram in pom.xml"
I have asciidoctorj and asciidoctorj-diagram in my pom.xml to generate maven site documentation. How do i configure asciidoclet to use these versions, too?

[2017-01-19 09:53] adpr opened #64 "SPI extensions not loading"
I am using asciidoctorj 1.5.4, asciidoctorj-pdf 1.5.0-alpha.11 and asciidoclet 1.5.4 in a maven project. I have defined some custom BlockMacros and registered them using the javaExtensionRegistry and created the proper files in my META-INF/services folder.

Generating the PDF works flawlessly, and my custom BlockMacros are recognized and rendered as they should be. In the Javadoc however, the cust

[2017-01-30 19:01] manoelcampos commented on #42
Hello @johncarl81 and @mojavelinux,

Is there any update on this issue? Because there is no discussion at the [outputdoclet](https://github.com/johncarl81/outputdoclet) project page.

Thank you.

[2017-01-30 20:22] johncarl81 commented on #42
We really haven't focused on this capability.  the export doclet project should be functional, but may need some further work to really work.  I encourage you to give it a try and let us know what your experience is.

[2017-01-31 08:28] manoelcampos commented on #42
Hello @johncarl81 ,

I'll take a look and let you know.
Thank you.

[2017-02-01 00:45] manoelcampos commented on #42
Hello again @johncarl81,

I think that [this pull request](https://github.com/johncarl81/exportdoclet/pull/1) is a good start point.
We can continue the discussion there.

[2017-04-28 04:44] msgilligan commented on #62
Any updates on this issue? It's keeping me from upgrading beyond Gradle 2.x and I might have to revert to standard JavaDoc from AsciiDoc in order to upgrade Gradle.

[2017-04-29 04:02] johncarl81 commented on #62
My appologies @msgilligan, I have not focused on this issue.  @benevans, any chance you could look at this?  @mojavelinux?

[2017-05-05 01:33] johncarl81 commented on #62
@msgilligan, I was able to build your project after upgrading gradle to version 3.1.  Could you walk me through reproducing the error?

[2017-05-06 22:03] msgilligan commented on #62
Yeah, seems to be working for me now, too. It fails if you check out the exact commit I referenced in the initial report. I'm guessing the upgrade to Groovy or another dependency upgrade I made had a side effect of fixing this issue.

I think we can go ahead and close it and reopen (or open a new one) if the problem raises its head again.

I just [upgraded](https://github.com/msgilligan/bitcoinj-a

[2017-05-06 22:03] #62 closed

[2017-10-02 14:27] mattadamson opened #65 "Use of Javadoc annotations such as @link or @see"
Hi

How do others use previous JavaDoc annotation such as @link and @see in the Ascii doc formatted documentation? e.g. if we want to reference another class from a class definition we'd use

{@link classwithpackageidentifier}

Many thanks

Matt

[2017-12-03 13:41] tbee opened #67 "allow multiple source location in gradle"
I use asciidoctlet in JFXtras and am very pleased with it. Recently Maven central required all jars to be accompanied with a source jar and javadoc jar. Beside the component jars, JFXtras also releases an all-in-one jar, which now requires a source and javadoc jar. I'm not very fluent in Gradle, but apparently asciidoctor cannot use multiple source locations so to generate one big javadoc. Is this

[2018-01-08 16:11] gernotstarke opened #68 "readme.adoc currently broken"
<img width="929" alt="screenshot 2018-01-08 17 08 48" src="https://user-images.githubusercontent.com/1233990/34679598-c3463236-f496-11e7-8a08-1933f8e23866.png">

Suggestion: remove some of the ifdef's - as the readme.adoc will probably only be rendered on Github...

[2018-03-28 20:50] rockyallen opened #70 "Unbundled distribution?"
It looks like Guava, JRuby, and AsciidoctorJ are bundled in the jar. Is it possible to have a -core version without them, like asciidoctor-ant has done?

[2018-03-29 03:30] johncarl81 commented on #70
We could do this... is there any use case that this satisfies?

[2018-03-29 17:59] rockyallen commented on #70
Mainly to make it easier to test or use updated libraries without waiting for them to reach asciidoclet.
The Uber-jar also causes me problems with download and redistribution file size, but perhaps that is very specific to my setup.

[2018-05-28 20:25] msgilligan opened #71 "Migrate to jdk.javadoc.doclet API for Java 9 and later"
When running Asciidoclet under Java 9 I get the following message

[code]

At some point Asciidoclet should be ported to the new API.

[2018-05-28 20:38] msgilligan opened #72 "Asciidoclet confuses HTML frame formating with Java 9"
When I enable Asciidoclet on a Java 9 build, the frame sizing/formatting gets messed up:

<img width="620" alt="screen shot 2018-05-28 at 1 35 59 pm" src="https://user-images.githubusercontent.com/61612/40628853-5457514e-627c-11e8-929d-b45d1f3fbc39.png">

Removing the Asciidoclet doclet eliminates the problem.

[2018-05-28 20:54] msgilligan opened #73 "Fix stylesheet warning with Java 9"
When generating javadoc using Java 9, the following warning is displayed:

[code]

This can be fixed by creating new RegEx patterns in [Stylesheets.java](https://github.com/asciidoctor/asciidoclet/blob/6522cb0651600764b3148ad7cf00a87547710049/src/main/java/org/asciidoctor/asciidoclet/Stylesheets.java) and creating new stylesheets for Java 9 and later. It looks like new stylesheets are required bec

[2018-05-28 21:38] msgilligan commented on #68
According to PR #66 the README is also used on asciidoctor.org. That PR may also be what broke the README.

@mojavelinux ?

[2018-05-29 01:37] #68 closed

[2018-05-29 01:38] mojavelinux commented on #68
There was a typo in the header. I can't believe we didn't see this until now. Thanks for drawing our attention to it, @gernotstarke!

[2018-05-29 04:35] msgilligan commented on #72
This is fixed with PR #75

[2018-05-29 04:36] msgilligan commented on #73
This is fixed with PR #75

[2018-05-29 06:13] msgilligan opened #76 "Support Java 9+ (parent issue)"
There are (at least) 2 phases towards supporting Java 9 and later.

1. Run under Java 9 and later (but build using Java 7/8)

* Fix stylesheet warning - https://github.com/asciidoctor/asciidoclet/issues/73
* Fix stylesheet frame issue  - https://github.com/asciidoctor/asciidoclet/issues/72
* Other issues?

2. Build under Java 9 (presumably using the new Doclet API)

* Port to new Doclet API - http

[2018-05-29 23:56] johncarl81 commented on #76
Yes!

[2018-05-30 00:45] johncarl81 commented on #71
Yeah, from what I've seen it's a non-trivial migration.  I hope it would be backwards compatible with < Java 9.  I would love to see the dependency on tools.jar to go away.

[2018-05-30 01:06] msgilligan commented on #71
I don't think it is backwards compatible in terms of compiling or running on pre-Java 9. In other words the api is `@since 9`. So implementing this API will create a new major version of Asciidoclet. However I believe it should be possible to generate Java 7/8 javadoc output with JDK 9+ as long as the source and target versions are set correctly.

The old (current) Asciidoclet should continue to r

[2018-06-02 18:40] msgilligan opened #78 "Create Asciidoclet sample project"
https://github.com/JGrenier/asciidoclet-sample is nice, but we should have a similar project under the asciidoctor organization that we can keep up to date and integrate with CI tools for testing and demonstration purposes.

[2018-06-02 22:35] msgilligan commented on #70
As I user, I liked it when the Asciidoctor Gradle plugin allowed me to choose Asciidoc versions separately than that of the Plugin. So in general I support this.

I'm not sure what the the in-depth technical issues are -- I"m new to the codebase.

One thing I would like to do -- and did some research on -- is move the plugin to requiring Java 8 (or 9) and eliminating the Guava dependency. Many of

[2018-06-02 22:56] msgilligan commented on #73
PR #75 is merged. Closing.

[2018-06-02 22:56] #73 closed

[2018-06-02 22:56] msgilligan commented on #72
PR #75 is merged. Closing.

[2018-06-02 22:56] #72 closed

[2018-06-02 23:04] msgilligan opened #79 "Publish a 1.5.5-SNAPSHOT build"
So now that we have preliminary support for running under Java 9+, it would be nice to make a SNAPSHOT release.

Is there documentation on how this is done? Who as been doing this? What should we do?

[2018-06-02 23:10] msgilligan commented on #78
Maybe we could just start using Asciidoclet in all the existing examples.

I'd like to see a using-everything-asciidoctor project that kind-of mirrors the real-world usage I've been using on some of my projects (e.g. [ConsensusJ]( https://github.com/ConsensusJ/consensusj)) I also want an example that builds with Java 9/10 on Gitlab CI -- we can't do that for Asciidoclet itself, but we can do it fo

[2018-06-03 15:47] johncarl81 commented on #79
You just need to run the following Maven command to deploy a snapshot:
[code]
Give it a try... You may need a pgp key or something for access to maven central.  We can work through this if it doesn't work OOTB.

I've taken the liberty to deploy it: https://oss.sonatype.org/content/repositories/snapshots/org/asciidoctor/asciidoclet/1.5.5-SNAPSHOT/

[2018-06-03 15:58] johncarl81 commented on #78
We've tried to make the Asciidoclet project itself a self-example of using Asciidoclet... do you think a separate project would be able to highlight more or a different angle?

[2018-06-03 18:42] msgilligan commented on #78
Yeah, the "dog food" approach is a good idea and we should definitely continue to do that.

I suppose it might be possible to use Java 9 in Java 8 mode to build it. I'm really interested in being able to produce the new HTML5 output. I'll look into that...

[2018-06-03 18:58] johncarl81 commented on #71
I've been tinkering around with the new Javadoclet api.  Bad news is that we won't have the (hack) ability to override the default comment text.  But, this might mean we should take a more direct approach... maybe proxying the elements api everywhere a javadoc is accessed via the HtmlDoclet?

[2018-06-04 01:13] msgilligan commented on #79
Thanks @johncarl81 -- I've [updated](https://github.com/ConsensusJ/consensusj/commit/92c75fca19071bf1719f71fe2d59203010ac4156) ConsensusJ to use it and published [HTML5 JavaDocs](https://consensusj.github.io/consensusj/apidoc/) with search as generated by Asciidoclet + Java 9.

[2018-06-04 01:23] msgilligan opened #80 "Asciidoclet/Asciidoctor/JRuby performs "Illegal reflective access" on Java 9"
When building JavaDoc with Asciidoclet on Java 9, I get the following warning:

[code]

This looks like an upstream issue (JRuby) but I thought I'd create an issue here to remind us to upgrade to a newer Asciidoctor/JRuby when available and to perhaps create an issue on Asciidoctor if there isn't one already.

[2018-06-04 01:33] johncarl81 commented on #79
Cool, the new search feature is nice!

[2018-06-10 06:06] msgilligan opened #81 "Asciidoclet fails with "invalid flag error" on Java 10"
When I try to run the current Asciidoclet 1.5.5-SNAPSHOT with Java 10 via the Gradle javadoc task I get the following error:

[code]

This is because the old "Standard Doclet" was removed in Java 10 (http://www.oracle.com/technetwork/java/javase/10-relnote-issues-4108729.html#JDK-8177511) and Asciidoclet runs as a preprocessor that in-turn calls the Standard Doclet.

I'm not sure if this is worth

[2018-06-10 17:58] msgilligan commented on #79
Closing as a snapshot release has been made and PR #82 starts a release process document with all the information provided above by @johncarl81 .

Next step is probably to go ahead and make an official release of version 1.5.5...

[2018-06-10 17:58] #79 closed

[2018-06-10 18:21] msgilligan opened #83 "Release Asciidoclet 1.5.6 (based on current 1.5.5-SNAPSHOT)"
We should probably go ahead and release the current version. Maybe we want to bump the version to 1.5.6 so it matches the version of Asciidoctor it uses (until we have a solution for Issue #70)

(We also have to think about Asciidoclet v2.0 which will _require_ Java 9 or later -- so maybe we'll need to start decoupling Asciidoclet versions from Asciidoctor versions)

Changes since 1.5.4:

* Upgrad

[2018-06-10 23:14] johncarl81 commented on #81
Agreed, we should just move to the new API as you state in option 1 - option 2 is working in the wrong direction.

[2018-06-10 23:16] johncarl81 commented on #83
I'm good releasing now and bumping to version 1.5.6 - #70 would be nice to implement now, but I don't think it's a blocker.  We also have a bunch of questions in the issues that have gone unanswered that we should take a crack at - seem like easy ones to answer and close out.

How about I walk you through the release process and we can document the process at the same time add some redundancy to b

[2018-06-10 23:27] johncarl81 commented on #70
I'd like to see Guava removed also, but that's probably influenced by my Android work - Guava is known to be a huge library and consumes a ton of the limited method references.  Should be relatively easy.  Maybe we bundle this into the Java 9 jump?

[2018-06-11 01:44] msgilligan commented on #70
I agree, let's (at least try) to pull out Guava in the Java 9 jump. Java 8 adds `Optional` which I see is one of the things you're using from Guava. Java 9 I think adds better support for immutable lists which I think one of the other things you're using. So that seems like the right plan.

[2018-06-11 01:51] msgilligan commented on #83
Is #70 just a change the the Maven POM? I don't really understand the issues involved with that change and don't feel it's something I have much expertise to add. I also think it would add some risk. The other changes are relatively low-risk (except perhaps on Java 9, but we previously weren't even working there -- so there's nothing to lose.)

My preference would be to release 1.5.6 and then try

[2018-06-11 01:58] msgilligan commented on #83
I also think that the changes for #70 are probably worthy of at least a minor version bump (e.g. 1.6.0)

[2018-06-11 02:07] msgilligan commented on #71
What do you mean by that?

[2018-06-11 04:11] johncarl81 commented on #71
I mean, I don't know if the original intention of a javadoc doclet was to give the ability to swap in a different rendering engine for javadocs as we have.  The API feels like it wasn't designed for this, as we [replace the raw javadoc text](https://github.com/asciidoctor/asciidoclet/blob/1db1bc2a7630d09e7139f276b29523f056e09cd3/src/main/java/org/asciidoctor/asciidoclet/AsciidoctorRenderer.java#L1

[2018-06-11 14:51] johncarl81 commented on #83
Yes, #70 should just be a reconfiguration of the pom... maybe we could also move over to using the shade plugin for the uber-jar.

Changing to 1.6.0 would take us out of lockstep with the reset of asciidoctor, I think we can accomplish this between the releases unless there is a good reason to break with this convention.

[2018-06-12 06:49] msgilligan commented on #71
Well worst case we could take the code for the Standard Doclet and modify it, right?

[2018-06-12 21:51] johncarl81 commented on #71
Yeah, I think you're right.  Plus we can use the standard doclet (`HtmlDoclet`) as guidance to how to write in the new API.

For an implementation, my initial thought is to add a proxy layer into the elements api to process the javadocs from asciidoc to html.  We could then hand this elements proxy into the HtmlDoclet for final rendering.  This would benefit from leveraging the features of the `Ht

[2018-06-12 22:34] msgilligan commented on #71
You're talking about the core of the implementation here -- some fairly tricky code. I haven't looked at it much -- so my opinion isn't that valuable (at least yet)

I'm actually thinking we might want to create a little design document and talk about goals and architecture a little before getting started.

One goal I'd like to see is code that could be also be used for a new GroovyDoc that suppor

[2018-06-12 22:45] johncarl81 commented on #71
I agree 100% @msgilligan, this deserves some planning w/ a design doc, and the Groovy possibility sounds fantastic.

[2018-06-17 20:02] mojavelinux commented on #45
Seems reasonable to me.

[2018-06-29 01:40] msgilligan commented on #45
I'm not sure we can close this issue -- it looks like the new Tilt breaks `asciidoclet`.

[code]

[2018-06-29 12:55] judofyr commented on #45
@msgilligan: Do you have a reduced test case (with Gemfile/Gemfile.lock + used JRuby version) that I can test for?

[2018-06-29 13:36] msgilligan commented on #45
No, but it is an open source project and I can put a failing branch on Travis CI.

[2018-06-29 15:50] msgilligan commented on #70
It _is_ possible to upgrade the version of *AsciidoctorJ* by directly referencing it in a Gradle configuration:

[code]

And also note that the setting of `asciidoctorjDiagramVersion` can cause a (perhaps unexpectedly) newer version of AsciidoctorJ to be transitively included.

[2018-06-29 16:13] msgilligan commented on #45
The failing branch/PR is here: https://github.com/ConsensusJ/consensusj/pull/37
The failing Travis CI build is here: https://travis-ci.org/ConsensusJ/consensusj/builds/398315639
The commit with the breaking change is here: https://github.com/ConsensusJ/consensusj/commit/fd264ab2cdabae74ce06b4581fecc8a150664386 (Note: `asciidoctorjVersion` is 1.5.6 in `gradle.properties` and is overridden for Ascii

[2018-06-29 17:54] judofyr commented on #45
I’ll try to look at it this weekend. If I don’t have time for it then, ping
me again around July 9th and I should have more time then:)))
On Fri, 29 Jun 2018 at 18:13 Sean Gilligan <notifications@github.com> wrote:

[2018-06-30 15:55] judofyr commented on #45
I'm sorry, I don't know my way around Java/Gradle and I don't quite know how to debug this. According to `./gradlew dependencies` it should use JRuby 9.1.16.0, but when I install that locally and run the Tilt tests everything seems to work fine. All the AsciiDoctor tests (for version 1.5.7.1) pass as well.

Do you know how I can modify the actual Ruby code being ran by `./gradlew buildCI`? I see t

[2018-06-30 19:06] msgilligan commented on #45
@judofyr Thanks for looking at this. I'm an asciidoctor user and minor contributor. I don't understand the mechanisms used by AsciidoctorJ to invoke Ruby and Gems.

Let's see what @mojavelinux and @johncarl81 have to say.

It they don't have any ideas, I can try to make the simples possible Gradle script to reproduce the issue and possibly see if there's a way to reproduce it without Gradle at all

[2018-06-30 19:50] msgilligan commented on #45
@ysb33r Any ideas on this one?

[2018-06-30 20:12] mojavelinux commented on #45
Give me a moment and I will explain how to test.

[2018-06-30 20:28] mojavelinux commented on #45
The problem here is that Asciidoclet is bundling JRuby 1.7.26, which provides Ruby 1.9.3. That's definitely not going to work with Tilt 2.0.8. It's time to stop bundling.

In fact, the following configuration in gradle/javadoc.gradle is pointless:

[code]

It's not going to use AsciidoctorJ 1.5.7 because AsciidoctorJ (and JRuby) are bundled. You are stuck with what Asciidoclet ships...and that's A

[2018-06-30 20:28] mojavelinux commented on #45
Here are the steps you can follow to find this out.

1. From the root of the concensusj project, switch to the build directory

2. Create the following Gemfile

        source 'https://rubygems.org'
        gem 'tilt'

3. Run Bundler from that directory as follows:

        bundle --path=vendor

4. Open the build/javadoc.gradle file and change the gem-path option to the following (double check tha

[2018-06-30 20:31] mojavelinux commented on #45
I added the following statement at the line where Tilt fails:

[code]

Here is what I saw:

[code]

[2018-06-30 20:33] mojavelinux commented on #45
For some reason, it does manage to use Asciidoctor 1.5.7.1. I confirmed this by printing the value of `Asciidoctor::VERSION`. However, this bundling is still not a great situation.

[2018-06-30 20:36] mojavelinux commented on #45
I'm rebuilding Asciidoclet just in case I was using a stale snapshot...

[2018-06-30 20:40] mojavelinux commented on #45
Got it working!

The snapshot of Asciidoclet at https://oss.sonatype.org/content/repositories/snapshots/ is woefully out of date. If you build Asciidoclet locally and use this configuration instead:

[code]

then it works.

However, we still get a lot of warnings from Haml.

[code]

Honestly, I would recommend switching to Slim. I find Slim much more reliable than Haml.

[2018-06-30 20:41] mojavelinux commented on #45
I'm happy to see that Asciidoclet no longer bundles JRuby and AsciidoctorJ, which is :+1:

[2018-06-30 20:42] mojavelinux commented on #70
But this is extremely fragile with AsciidoctorJ being bundled. I'm 1000% behind unbundling. It's absolutely the right thing to do in my mind. It will also make debugging way simpler.

[2018-06-30 20:43] mojavelinux commented on #70
That's an issue that should be addressed in AsciidoctorJ Diagram. I don't think it should be mandating a version of AsciidoctorJ.

[2018-06-30 22:51] ysb33r commented on #45
If it is not bundled then it is usually relative easy to convince Gradle to only put the correct versions on dependencies on the classpath that you need.

[2018-06-30 23:17] msgilligan commented on #70
OK, so it sounds like we should prioritize this issue, so that we can also fix #45.

@johncarl81 What would you think of converting the build of Asciidoclet from Maven to Gradle?

[2018-07-01 01:19] msgilligan commented on #70
Is there any use case for continuing to support an "uber jar"? In other words, should we change to releasing **only** an unbundled distribution?

[2018-07-01 03:14] msgilligan commented on #45
@mojavelinux Did you do a full build of all the modules? I'm seeing errors in the `bitcoinj-rpcclient` submodule:

[code]

[2018-07-01 03:17] msgilligan commented on #83
OK, so I think we should get it working with *AsciidoctorJ* 1.5.7 and release a version 1.5.7.

I also think we should ship unbundled only, unless there is a use case I'm unaware of.

[2018-07-01 06:44] mojavelinux commented on #45
Given that the templates you have are about 1 line each, I'd say it would take minutes.

(That probably wouldn't solve this problem...but I just find Slim to be a better choice in general).

[2018-07-01 06:45] mojavelinux commented on #45
I did not.

[2018-07-01 07:28] mojavelinux commented on #45
The start_with? error appears to be a bug in AsciidoctorJ. I'm trying to reproduce, but it's extremely hard to understand.

[2018-07-01 08:10] mojavelinux commented on #45
This is *extremely* bizarre. It looks like JRuby is failing to exit a while loop even when the condition is false. It starts happening after a few dozen calls to Asciidoctor.

The following code in the Asciidoctor parser is the source of the problem:

[code]

However, if I write it like this, it works every time:

[code]

It's possible this is being caused by a bad interaction with another library

[2018-07-01 08:19] judofyr commented on #45
Something very weird is happening here though. If I add this to the top of tilt.rb:

[code]

[2018-07-01 08:21] judofyr commented on #45
@mojavelinux: And thanks a lot for the steps for running with a locally bundled Tilt. It worked very well!

[2018-07-01 08:39] mojavelinux commented on #83
We've decided that only the libraries that provide Asciidoctor need to stay in version alignment (Asciidoctor, AsciidoctorJ, and Asciidoctor.js). The other libraries are free to version independently.

There will also be no release of Asciidoctor 1.6.0. Instead, we're moving to 2.0.0 so we can start following semver. So 1.6.0 is free to use....though you may want to think about jumping to 2.0.0 on

[2018-07-01 09:02] judofyr commented on #45
Would it be possible to upgrade to Haml 5? They introduced a better public API which causes Tilt to avoid manually setting instance variables.

[2018-07-01 15:34] enebo commented on #45
@mojavelinux can you try running with JRUBY_OPTS=--dev and see if this still fails?  you mentioning it works for a while then stops is a classic indication our JIT is not compiling correctly.

[2018-07-01 16:53] johncarl81 commented on #83
Sounds good.  I vote for the unbundled distribution to be version 1.6.0 and the Java 9 doclet version of Asciidoclet to be version 2.0.0 then! (not to be in lockstep w/ Asciidoctor)

[2018-07-01 17:05] johncarl81 commented on #70
Supporting a regular (unbundled) and uber jar simultaneously should be relatively simple.

The use case for the uber jar is using the library outside of a dependency-managed build.  Being able to download and use the jar directly has some utility to certain users (honestly not myself).  Here's the history: https://github.com/asciidoctor/asciidoclet/issues/38 https://github.com/asciidoctor/asciidoc

[2018-07-01 17:21] msgilligan commented on #83
Well, (as I understand it) the unbundled distribution will still have a transitive dependency on AsciidoctorJ -- currently version 1.5.7. So, that's why I'm proposing version 1.5.7 for the next release.

The Asciidoctor Gradle plugin actually makes it's Asciidoctor dependency configurable in the DSL, but I think using standard (and therefore overridable) POM dependencies for the Doclet is an accep

[2018-07-01 17:58] msgilligan commented on #70
Yeah, that's a legitimate use case, but probably increasingly rare. My vote would be to drop support for it and see if anyone requests it. I'd prefer to keep the build and release as simple as possible.

Well, I figured out what I needed to do to unbundle and submitted a PR. That wasn't hard! I do prefer Gradle, but let's stick with Maven for now  -- we've got enough fish to fry. If something come

[2018-07-01 18:31] johncarl81 commented on #70
@msgilligan Out of curiosity, what feature of asciidoctorj are you looking to add by upgrading to 1.5.7?

[2018-07-01 18:39] msgilligan commented on #70
Well, I was hoping those annoying "tilt/haml" warnings were going to be removed from my builds. But I general, I just want to track the latest & greatest. Especially for the Java 9+ work.

[2018-07-01 19:57] msgilligan commented on #70
Now that #86 is merged, once we have a release made that includes both the unbundled JAR and the `-shaded` JAR, we can close this issue.

[2018-07-02 06:00] mojavelinux commented on #45
@enebo Yep, I can give that a try. Thanks for the tip!

@judofyr We were holding off because Haml 5 requires Ruby 2, but now that we're using JRuby 9, I don't see anything stopping us from going there. @msgilligan we'll need that change in AsciidoctorJ since it bundles haml.

[2018-07-02 09:51] mojavelinux commented on #45
@enebo I set the environment variable and got the same result. It fails after about 25 invocations. But it's possible AsciidoctorJ is modifying the environment, hence nullifying the flag. Is there some way to verify that dev mode is active from a Ruby script?

[2018-07-02 14:32] enebo commented on #45
@mojavelinux can you give me a way to repro this?  I do not recall a mechanism to easily dump what our state is at runtime (although hindsight is 20/20 and that is a good idea).  Likely if you look for -Djruby in your repo you will see where it is doing stuff.  In that case maybe you can add -Djruby.compile.mode=OFF and -Djruby.jit.threshold=-1.

[2018-07-03 17:03] msgilligan opened #87 "Consolidate Asciidoclet documentation"
There is a high-degree of duplication in the Asciidoclet documentation spread over three places:

* The Github project [README.adoc](https://github.com/asciidoctor/asciidoclet/blob/master/README.adoc)
* The [1.5.0 Release Notes](https://asciidoctor.org/news/2014/09/09/asciidoclet-1.5.0-released/)
* The [Asciidoclet Guide](https://asciidoctor.org/docs/asciidoclet/) on Asciidoctor.org

The source co

[2018-07-04 18:47] johncarl81 commented on #45
Put together a minimal failing example here: https://github.com/johncarl81/asciidoctorjtest

Here's the meat of the code:
[code]

Which throws an exception around (not deterministicly) 70 iterations for me:

[code]

Hope this helps.

[2018-07-05 17:46] enebo commented on #45
@johncarl81 how do you run that from the command line?  I am having issues where it cannot find JRuby or it cannot load asciidoctor from ruby itself.

I can see that asciidoctor will disable JIT and we will not bytecode generate but we do switch between a startup and full interpreter.  Seeing the number of iterations differ is likely us starting a full build in a background thread and the replacem

[2018-07-05 19:45] johncarl81 commented on #45
@enebo Got a couple ways for you to execute it.  First, you can clone the project and run it via Maven.  Just run the following command in the project root:
[code]
If you don't have maven installed, you can [download the published snapshot shaded jar from github](https://github.com/johncarl81/asciidoctorjtest/releases/tag/1.0.0-SNAPSHOT) which I uploaded earlier and run it via Java directly:
[code

[2018-07-05 20:20] enebo commented on #45
@johncarl81 for some reason your exec:java is not working for me but if I generate with package in your last changes to pom.xml the shaded jar it generates will run.  So both my instincts seem to be right:

[code]

I get 50 iterations consistently so what we generate when switching to full build is broken.  Also if set threshold to -1 then no full build is performed and all is working:

[code]

So

[2018-07-05 21:52] enebo commented on #45
Alright this is a bit too much for this issue and I will eventually make one for JRuby itself but I am dumping my latest breakthrough.  The gist of the bug is some basic block culling not properly updating a jump operand.  Interestingly it may even be fixed in 9.2.  So here is a dump from broken version of parse:

[code]
If you squint and accept this as some weird assembly we can see we do a jump

[2018-07-05 23:07] mojavelinux commented on #45
Thanks for the updates @enebo and thanks for the assist with the sample project @johncarl81! I'm glad to hear you are getting close to solving it. :tada:

[2018-07-05 23:08] enebo commented on #45
@mojavelinux it occurs to me that I may have backported this for 1.7.27 and asciidoc is still use 1.7.26.  Maybe update quick and see if it goes away?  Otherwise I will figure out in the morning.

[2018-07-05 23:10] mojavelinux commented on #45
I've actually tested with JRuby 9.0.x, 9.1.x, and 9.2.0.0...same issue. AsciidoctorJ actually ships with (actually, links against) different versions of JRuby depending on the version...but 1.5.7 now links against 9.1.x.

[2018-07-05 23:17] enebo commented on #45
@mojavelinux wow I am surprised 9.2.0.0 is broken.  I do not see the same output there.  Is there some instructions on how to build the whole dist so I can mess with my own jruby snapshot somewhere? In the morning I will isolate what is wrong (oh and I am using master but I know I did not fix any issues with coallescing basic blocks since 9.2.0.0).

[2018-07-06 18:49] enebo commented on #45
@mojavelinux I think this is fixed in 9.1.17.0.  At least the minimal example passes in asciidoctorj above.  Here is what I did and you can tell me perhaps if I made a mistake.  I built master of asciidoctorj which appears as 1.5.8-SNAPSHOT in local maven repo.  I change build.gradle to:

[code]

I opened finished jar and I can see parser.rb is still using the while ... end until options check.  I

[2018-07-07 21:21] mojavelinux commented on #45
Thanks for testing. I'll give it another shot on my end to confirm.

[2018-07-08 21:01] msgilligan commented on #83
@johncarl81 Should we publish a 1.5.6-SNAPSHOT for testing? Then if all looks well we can move towards a 1.5.6 release.

[2018-07-08 21:02] msgilligan commented on #87
@mojavelinux @johncarl81 Any thoughts on how we should approach this? Where should the single/consolidated document source live? Where should it published?

[2018-07-09 00:58] johncarl81 commented on #83
Sure, just pushed 1.5.6-SNAPSHOT.  This version works well across my projects.  Let me know how your's fare @msgilligan and we'll look at a release.

[2018-07-10 17:46] msgilligan commented on #83
I don't see a 1.5.6-SNAPSHOT: https://oss.sonatype.org/content/repositories/snapshots/org/asciidoctor/asciidoclet/

A new 1.5.5-SNAPSHOT appeared however and it seems to magically fix Issue #45 in my ConsensusJ build...
@mojavelinux did you make a new SNAPSHOT release of 1.5.5?

[2018-07-11 00:38] johncarl81 commented on #83
Ok, the latest should be up now.  By the way, you can alway publish to your local maven repo by running `mvn clean install`.  I believe this is referenced by `mavenLocal()` repository setting in gradle.

[2018-07-11 01:39] msgilligan commented on #83
I have to be wary of the transitive dependencies, they can be displayed with

    $ ./gradlew consensusj-jsonrpc:dependencies

If I bump asciidoctorj-diagram to 1.5.9 (in my `gradle.properties`, it will pull in aciidoctorj 1.5.7 which will break the build.
[code]

[2018-07-11 04:29] msgilligan commented on #83
OK, so to bump to asciidoclet-1.5.6-SNAPSHOT I have to go back to asciidoctorj 1.5.6 and asciidoctorj-diagram 1.5.8 in my `gradle.properties` variable settings:
https://github.com/ConsensusJ/consensusj/commit/2120bbdd67c79951a4d8a980c4fbc6c3a3617d9d

[2018-07-14 00:45] johncarl81 commented on #83
@msgilligan this seems appropriate to me... go for 1.5.6 release?

[2018-07-14 00:46] msgilligan commented on #83
Yes, let's do it!

[2018-07-14 00:56] johncarl81 commented on #83
Done! https://bintray.com/asciidoctor/maven/asciidoclet#files/org%2Fasciidoctor%2Fasciidoclet%2F1.5.6

[2018-07-14 01:05] #83 closed

[2018-07-14 01:05] johncarl81 commented on #70
Released in 1.5.6

[2018-07-14 01:05] #70 closed

[2018-07-14 01:06] johncarl81 commented on #67
I believe we're deploying the source and javadoc jars.  For example: https://bintray.com/asciidoctor/maven/asciidoclet#files/org%2Fasciidoctor%2Fasciidoclet%2F1.5.6

[2018-07-14 03:32] diguage opened #89 "I can not use the latexmath macro in JavaDoc."
I want to write a mathematical formula in JavaDoc. I writed it as following

[code]
And, I set the attribute as following:

[code]

But, it did not generate the formula:

[code]

It seems to be no import JavaScript Library.

[2018-07-14 07:46] tbee commented on #67
The operative word here being "multiple".

[2018-07-14 07:48] msgilligan commented on #67
Look at the ConsensusJ project for an example...

[2018-07-14 15:06] johncarl81 commented on #67
Correct me if I'm wrong @msgilligan... here's the configuration @tbee to collect all your project source javadocs together: https://github.com/ConsensusJ/consensusj/blob/master/gradle/javadoc.gradle#L49-L50

This is less of a doclet issue than a Javadoc thing.

[2018-07-14 15:14] johncarl81 commented on #89
You should be able to import the library using the `-r` option, like so:
[code]
But I'm unable to get this to work successfully - I can't seem to install the ruby gem.

[2018-07-14 15:20] johncarl81 commented on #63
This should be a configuration of the [maven javadoc plugin](https://maven.apache.org/plugins/maven-javadoc-plugin).  Maybe [additionalDependencies](https://maven.apache.org/plugins/maven-javadoc-plugin/jar-mojo.html#additionalDependencies)?

[2018-07-14 15:22] msgilligan commented on #67
Yes, @johncarl81 it's a Gradle and Javadoc configuration issue, but ConsensusJ shows one way of doing it.

BTW, it's really cool to hear that https://github.com/JFXtras is using Asciidoclet!

[2018-07-14 15:23] johncarl81 commented on #64
Are you expecting Asciidoclet to pick up your `EksBlock` block processor within your project?

[2018-07-14 15:30] johncarl81 commented on #65
Asciidoclet will just enhance the tag's text, the annotation tags shoudl work as they did before.  For me, `@see` referencing a class within the same project will create a link to that class.

[2018-07-14 15:37] johncarl81 commented on #87
The 1.5.0 Release Notes (and [Write Javadocs in AsciiDoc with Asciidoclet](https://asciidoctor.org/news/2013/06/03/asciidoclet-announcement/)) are blog entries and shouldn't be considered true documentation.

I like having the main project documentation, especially for a small project like this one, as the README for the project.  This makes it easy to find because it's rendered as the home page o

[2018-07-14 15:45] johncarl81 commented on #71
If you're interested @msgilligan, I was able to convert one of my other doclets over to Java 9 [here](https://github.com/johncarl81/exportdoclet/tree/java_9_doclet).  The meat of it [here](https://github.com/johncarl81/exportdoclet/blob/java_9_doclet/src/main/java/org/asciidoctor/ExportRenderer.java#L116) is [getting the Javadoc comment via the Elements](https://docs.oracle.com/javase/9/docs/api/j

[2018-07-14 15:46] johncarl81 commented on #67
@tbee, does this give you enough to go on?

[2018-07-15 11:13] gsmet commented on #81
I think I might have a similar issue with JDK 11 and the `-Xdoclint` option.

It would be nice if we could find a solution as the Hibernate ORM 6 javadoc is now heavily relying on Asciidoclet and we still have a lot of legacy javadoc that needs some fixing thus the use of the `-Xdoclint` option (we will fix it eventually but we are not in a good position to right now).

[2018-07-15 13:37] sebersole opened #90 "Mixed traditional and Asciidoclet javadoc markup"
In Hibernate we are trying to migrate to using Asciidoclet to author Javadoc.  However, as Hibernate is a huge project it is simply not feasible to convert all of the docs at once so we have been working on a phased approach change pieces at a time such that we end up with a mix of traditional and Asciidoclet javadoc markup within the same project.

But in practice this has led to problems renderi

[2018-07-15 13:46] sebersole commented on #90
Guillaume had ended up starting a nabble discussion as well - http://discuss.asciidoctor.org/Migrating-to-Asciidoclet-progressively-td6425.html

[2018-07-15 16:31] johncarl81 commented on #90
Excellent point @sebersole.  I imagine a solution here would be for Asciidoclet to gracefully get out of the way in certain conditions.  We could add a package or class filter parameter to include or exclude certain sources from processing... would that help?

[2018-07-15 17:43] johncarl81 commented on #90
Put together a quick example here: https://github.com/johncarl81/asciidoclet/tree/include_exclude

This [includes](https://github.com/johncarl81/asciidoclet/blob/include_exclude/pom.xml#L148-L149) the following regex include and exclude options:
[code]
This should allow you to convert to Asciidoclet class-by-class or package-by-package as you wish.

[2018-07-15 17:55] gsmet commented on #90
I think some sort of marker would probably be easier for our use case.

But I could see how includes/excludes could be useful too.

[2018-07-15 18:06] johncarl81 commented on #90
A marker to indicate class-by-class within the javadoc documentation seems noisy especially considering this should be a bridge case for converting to use Asciidoclet.

[2018-07-15 22:05] gsmet commented on #90
What I'm wondering is how we would maintain the list of classes to transform with Asciidoctor.

And refactorings come to mind as problematic.

I don't know if it's feasible or not but I think annotating the class Javadoc with @asciidoc or a similar marker would maybe be easier.
We would have to think about it when writing the doc (and annotate the existing classes) but that would survive a refacto

[2018-07-15 22:14] johncarl81 commented on #90
Good input @gsmet.  How long do you think the conversion would take?

My hope was that using wildcards would help with refactors since you could convert a package and contained packages at a time to avoid an exhaustive list of every class converted, i.e.: `--include org.hibernate.action.*`, as long as a refactor stays within the same package.  If `--include` is specified then everything outside of

[2018-07-15 22:44] johncarl81 commented on #90
Yeah, absolutely... that was my thought as well - the `@asciidoclet` tag wouldn't show up in the rendered javadoc and I'm open to naming it `@asciidoc`.  Updated [my branch](https://github.com/johncarl81/asciidoclet/tree/include_exclude) with this idea and deployed it to 1.5.7-SNAPSHOT if you want to try it out.

[2018-07-16 08:33] gsmet commented on #90
@johncarl81 thanks! I added a couple of comments in your commits.

[2018-07-16 16:08] johncarl81 commented on #90
https://github.com/asciidoctor/asciidoclet/pull/91

[2018-07-16 16:44] gsmet commented on #90
@sebersole could you point me to a class of the 6 code base using Asciidoctor? I'll check how this all works.

thanks!

[2018-10-12 09:30] dakusui commented on #63
After installing ```asciidoctor-diagram```, following ```pom.xml``` fragment worked for me.
[Embedding diagrams in Javadoc](https://asciidoctor.org/news/2014/09/09/asciidoclet-1.5.0-released/#embedding-diagrams-in-javadoc) will be useful for you.

[code]

[2018-10-13 04:51] mojavelinux commented on #90
How did the testing go?

I like the `@asciidoc` marker. Is it true that it's only required when a certain flag is set in the configuration? In other words, Asciidoclet defaults to being applied everywhere, but that default can be flipped with an option (hence requiring the `@asciidoc` marker). Is that correct?

[2018-11-03 18:16] johncarl81 commented on #45
@mojavelinux I've confirmed, running the test program with jruby 9.1.17.0 does not give an error!

[2018-11-03 18:19] johncarl81 commented on #90
Yes, that's right @mojavelinux - it's only useful when a class is excluded from being processed.  For instance, we can either explicitly include classes for processing or exclude classes from processing, the resulting classes not processed can finally be added back into the set being processed by adding the `@asciidoc` javadoc tag.

[2018-11-03 18:19] #63 closed

[2018-11-03 18:30] johncarl81 commented on #45
... perhaps we should upgrade asciidoclet to the latest asciidoctorj as well then.

[2018-11-03 18:35] mojavelinux commented on #90
Thanks for the clarification! That's exactly what I was hoping you'd say.

[2018-11-03 18:39] mojavelinux commented on #87
You can find the repository where this is all happening here:

https://github.com/asciidoctor/docs.asciidoctor.org

You're welcome to join the party at any time. Once you have an Antora docs structure set up somewhere, perhaps in a branch, we can point Antora at it (antora-playbook.yml) and those docs will be included in the site.

[2018-11-03 18:39] johncarl81 commented on #90
@mojavelinux, @msgilligan: it might be early as we haven't gotten feedback, but would you review https://github.com/asciidoctor/asciidoclet/pull/91 and merge?

@sebersole, @gsmet: have you been able to use this feature, and, if so, does it meet your needs?

[2018-11-03 18:39] mojavelinux commented on #45
:+1:

[2018-11-05 14:38] gsmet commented on #90
@johncarl81 sorry about the delay... totally forgot about it.

We plan to release a new version next Wednesday so. I'll check what you did later today or tomorrow. Do you think you could plan a release once you have our feedback?

Thanks!

[2018-11-05 15:04] sebersole commented on #90
@mojavelinux, I actually missed the notification from this discussion.  I am working on a benchmark for our current work that is super critical, but I will take a look at this again soon.  But based on the comment by @johncarl81 that sounds perfect

[2018-11-05 15:45] #45 closed

[2018-11-05 20:18] mojavelinux commented on #90
Thanks for chiming in @gsmet and @sebersole. Sounds like we're all set to move forward. :tada:

[2018-11-06 22:02] msgilligan commented on #87
Sorry I've been AWOL lately. (I've been very busy with work and family. I'm looking forward to having more time to help out, but it might be another month or so.) I'm looking forward to playing with Antora.

[2018-11-06 22:51] msgilligan commented on #45
So, this will be in the next release? Can I test it in ConsensusJ via a snapshot?

[2018-11-07 02:08] johncarl81 commented on #45
Sure, just deployed the [snapshot](https://oss.sonatype.org/content/repositories/snapshots/org/asciidoctor/asciidoclet/1.5.7-SNAPSHOT/) to maven central under 1.5.7-SNAPSHOT.

[2018-11-08 01:16] romain-grecourt opened #93 "1.5.6 not available in maven central"
The latest version available in maven central is 1.5.4, see http://repo1.maven.org/maven2/org/asciidoctor/asciidoclet/

I can see 1.5.6 available on bintray.

[2018-11-08 07:48] mojavelinux commented on #87
Yeah! It's a good time to get back into it because things are really starting to get more organized.

The new docs site will be available later this month and should serve as an excellent reference. Antora is designed to be very simple (once the pipeline is set up), so it shouldn't require too much effort to chop up the docs into individual pages and get them published. And I'll be here to help ou

[2018-11-08 15:45] johncarl81 commented on #93
Just synced bintray with maven central... 1.5.6 should be available later on today.

[2018-11-08 18:10] romain-grecourt commented on #93
The artifacts are now available in Maven Central. Thanks !

[2018-11-08 18:10] #93 closed

[2018-11-08 22:04] #65 closed

[2018-11-09 13:36] sebersole commented on #90
Was there a release of this yet to test out?

On Mon, Nov 5, 2018 at 2:18 PM Dan Allen <notifications@github.com> wrote:

[2018-11-09 13:44] gsmet commented on #90
@sebersole no you need to build a snapshot. I'll share my ORM branch with you so that you can see what I did

[2018-11-09 13:50] gsmet commented on #90
@sebersole see https://github.com/sebersole/hibernate-core/pull/158 . I added instructions in the description.

[2018-12-02 19:55] chrisvest commented on #81
I'm also running into this on Java 11. Specifically I'm seeing that the `-author` flag is invalid.

[2019-01-27 18:49] radio-rogal opened #95 "Missed dependencies in 1.5.6?"
I run building of my project with `1.5.4` and `1.5.6`.

When I run building with `1.5.4` it works OK: processes all sources, create `plantuml` diagram.

When I rum building with `1.5.6` I get error:

As far as I understand Asciidoctor could not initialize properly. But I cannot get why as it misses some jruby classes.

**Maven:** 3.6.0
**Java:** 1.8.0_202
**Asciidoclet:** 1.5.6

Maven javadoc plug

[2019-01-28 07:15] ur6lad commented on #95
OK, I will check.

For both 1.5.4 and 1.5.6 I have cleaned local Maven cache then run building - to check in log which dependencies Maven loads.

For 1.5.4 it loads asciidoctorj/1.5.4, jruby-complete/1.7.21, jruby-artifacts/1.7.21, jruby-parent/1.7.21, jcommander/1.35.
For 1.5.6 it loads asciidoctorj/1.5.6, jruby-complete/1.7.26, jruby-artifacts/1.7.26, jruby-parent/1.7.26, jcommander/1.35.

Looks

[2019-01-28 22:45] johncarl81 commented on #95
I just bumped one of my projects up to 1.5.6 and it built just fine... would you like to try it as well: https://github.com/johncarl81/parceler

asciidoclet is used in the parceler-api and parceler package.

[2019-03-20 14:02] sebersole commented on #90
Is this available to try in any published (SNAPSHOT even) artifact?

[2019-03-20 21:25] johncarl81 commented on #90
Not on maven central.  You can, of course, build the branch and work with the SNAPSHOT locally.  I'm waiting on is confirmation it fits the use case and review here: https://github.com/asciidoctor/asciidoclet/pull/91

[2019-03-21 13:05] sebersole commented on #90
@johncarl81 I hate using mavenLocal.  I'll grab this branch, modify the groupId and publish a SNAPSHOT to the JBoss Snapshot repo and test from there

[2019-03-21 18:43] johncarl81 commented on #90
If I remember a bit later, I could publish the snapshot to maven central if that helps.

[2019-04-02 05:25] darkthur commented on #71
i have found it also when testing my rom source. but i dont find in other rom. that is make me confused

[2019-04-05 09:25] hari87 commented on #95
I think this issue could be related to this [one](https://github.com/asciidoctor/asciidoctor-intellij-plugin/issues/187).

[2019-07-12 23:31] LightGuard commented on #76
At this point, I think it would be good to make a cut. Version 1.5.x should be runnable under JDK 8 and lower. Anything new at this point should be using the new Docklet API and require at least JDK 9.

[2020-02-17 18:55] sebersole commented on #90
Sorry for the late reply.. I've finally been able to test this out and it does not work for me.  Probably I'm missing something simple.  I use the code from  #91 and build the javadoc - any docs using `@asciidoc` do not render anything.  I saw something above about still needing to specify some configuration property to trigger `@asciidoc` handling - if that's still true, what setting do I need?

[2020-02-18 21:50] sebersole commented on #90
What I have atm:

[code]

with

[code]

Nothing gets rendered for the SqlSelection class-level docs

[2020-02-19 14:12] sebersole commented on #90
Could the problem be the use of `org.asciidoctor:asciidoctor-gradle-plugin:1.5.7` in combination with `org.asciidoctor:asciidoclet:1.5.7-SNAPSHOT`?

[2020-02-19 14:32] sebersole commented on #90
Nope that made no difference.  So at this point, as far as I can tell, #91 does not fix our problem - https://github.com/hibernate/hibernate-orm/commit/e43c5a3166c6bd7a1f4dc4b4a617679118846718

[2020-07-10 18:38] msgilligan commented on #81
It seems like we've decided to move to the new JavaDoc API (Issue #71) and we have a PR for it (PR #96) so I'm going to close this issue as essentially a duplicate.

[2020-07-10 18:38] #81 closed

[2020-07-11 01:08] msgilligan commented on #76
A year later this is more obviously true. JDK 11 is out with growing adoptions and compiles back to JDK 7 (back to JDK 6 with a deprecation warning.)

I think the first step is to create a new branch, rebase PR #96 to that branch, and merge it.

We can also either rename this issue to "Create a 2.0 release" or create a new issue and link it to this one.

I have a certain amount of time available,

[2020-07-11 01:56] johncarl81 commented on #76
I have a little time and would like to be part of the process for sure.  I
like that the fork has been used for some time.

I know that Java 11 compiles back to 7, bit isn't the real issue is the
different javadoclet API?

On Fri, Jul 10, 2020, 7:08 PM Sean Gilligan <notifications@github.com>
wrote:

[2020-07-11 02:26] msgilligan commented on #76
Right, so, so I'm saying we create AsciiDoclet 2.0 and have it use **only** the new API and require Java 9, 10, or 11 as a minimum and focus all new development on that version. It will allow people to compile code targeting all thew way back to Java 7 (or 6 with warnings) and with 11 having LTS and decent adoption, I don' think it's entirely unreasonable to require Java 11 as a minimum. Java 9 as

[2020-07-11 05:56] chrisvest commented on #76
The PR relies on some utility methods that are not available in Java 9 or 10.

More importantly, #96 is not really a clean port to the new javadoc APIs. It is still relying on extending the standard doclet, which is not supported because it’s hidden by JPMS, and it’s still relying on APIs that are deprecated for removal.

[2020-07-11 06:17] msgilligan commented on #76
That sounds relatively easy to fix. Would you agree?

Do you (or anyone else) have any ideas for a longer-term approach that might be a cleaner port to the new API?

[2020-07-14 14:37] chrisvest commented on #76
The new API is kind of limited. And there are only bad ways to modify the behaviour of the official standard doclet, which means the "proper" way involves rebuilding all the functionality provided by the standard doclet.

One approach around this, could be to copy or shade the standard doclet from OpenJDK. It's GPL-2.0, so this may require asciidoclet to be relicensed.

[2021-02-26 21:50] apj68 commented on #87
@msgilligan , I can take a stab at consolidating the docs.  I'm not much an expert but I love the whole platform and I'm somewhat familiar with Antora (read: basic user).  I've just ran around the horn trying to get `asciidoclet` working with `asciidoctorj-diagram` which leads to a fantastic goose chase over the web since virtually every sample out there are instructing for pre- or early-asciidoct

[2021-02-26 22:43] mojavelinux commented on #87
:tada:

If you need help with Antora, don't hesitate to @ me.

[2021-03-03 17:14] apj68 commented on #87
It looks like I'm too late to help with this one.. 😄   Asciidoclet looks to have already been migrated to the [main Antora site](https://docs.asciidoctor.org/asciidoclet/latest/) by @abelsromero.  Per [Dan's comment here](https://github.com/asciidoctor/asciidoclet/issues/87#issuecomment-429207438) I could possibly prune down the github README.adoc and make reference to the main docs but @abelsrome

[2021-03-03 20:38] mojavelinux commented on #87
You're absolutely right. @abelsromero did a fantastic job of migrating the docs for inclusion in the new site. I do think the README could be further simplified so that there's no duplication, but you may want to consider making that a separate issue.

[2021-03-03 22:22] abelsromero commented on #87
Absolutely, go for it! I just stepped in for the bare minimum to keep the train going.

[2021-03-04 16:42] apj68 opened #105 "Simplify README.adoc"
Per discussion in #87, the comprehensive of the `README.adoc` lends some confusion to the documentation, i.e., as if it's in multiple locations.  The main structure and content of that doc has been added to the universal [asciidoctor docs](https://docs.asciidoctor.org/home/) page which can be extended as needed.  The `README.adoc` could be simplified to focus on the overview.

[2021-10-05 14:07] sebersole commented on #90
Is this implemented?  Can someone please tell me how to use the doclet with mixed Javadoc?

[2021-12-12 15:18] sebersole commented on #90
Will the PR ever get integrated?

[2021-12-13 23:44] mojavelinux commented on #90
If there are no objections in the next 24-48 hours, I will merge the outstanding PR.

[2021-12-13 23:45] johncarl81 commented on #90
Sorry I've been absent... Lets go ahead and merge.

[2021-12-13 23:46] mojavelinux commented on #90
@johncarl81 Did you have any thoughts about my comment here? https://github.com/asciidoctor/asciidoclet/pull/91#issuecomment-948305206

[2021-12-15 20:18] mojavelinux commented on #90
The PR that addresses this issue has now been merged. Thanks @johncarl81!! If there are further enhancements needed, let's discuss them in a separate issue.

[2021-12-15 20:18] #90 closed

[2021-12-18 12:28] sebersole commented on #90
Any idea what version will include this?

[2022-05-20 11:54] sebersole commented on #90
Is this in any released version yet?  I could not find how to link up issues/prs to releases here.